{%extends 'base.html'%}
{%load static%}
{% load crispy_forms_tags %}
{% load tailwind_filters %}
{%block content%}
{% include 'nav.html'%}

<div class="login ">
<img async loding="lazy"  src="{{footer.logo.url}}" alt="{{footer.nombre_comercial}}" width="350rem">
  <br>
  <h2>Añade una una Fotografia</h2>
  <br>

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="buttons">
    <button type="submit" class="btn">Guardar</button>

  </form>
  <button class="btn" type="button" onClick="javascript:history.go(-1);">Cancelar</button>
</div></div>



{%endblock%}
