{%extends 'base.html'%}
{%load static%}
{% load crispy_forms_tags %}
{% load tailwind_filters %}
{%block content%}
{% include 'nav.html'%}
<div class="login " >

<img async  src="{{footer.logo.url}}" alt="{{footer.nombre_comercial}}" style="height: 300px;" />
  <br>
  <h2>Caja</h2>
  <br>
  <form method="post">
    {% csrf_token %}
      {{ form|crispy }}
      <div class="buttons">
    <button type="submit" class="button is-link is-rounded" >Guardar</button>

  </form>
<button class="button is-danger is-rounded" onClick="javascript:history.go(-1);">Cancelar</button>


</div></div>



{%endblock%}
