{%extends 'base.html'%}
{%load static%}
{% load crispy_forms_tags %}
{% load material_form %}
{%block content%}
{%include 'nav.html'%}

<div class="login ">

<img src="{%static 'img/login.png'%}" alt="Lima y Neon" >
  <br>
  <h2>Configuración del Sistema</h2>

  <br>
  <form method="post" enctype="multipart/form-data" >
    {% csrf_token %}
     {% form form=form %}{% endform %}
    <div class="buttons">
    <button type="submit" class="button is-link is-rounded">Guardar</button>

  </form>
  <input type="button" value="Cancelar" class="button is-danger is-rounded" onClick="javascript:history.go(-1);">


</div></div>


{%endblock%}
