{%load static%}

<!--<script src="https://code.jquery.com/jquery-1.12.4.min.js"-->
<!--        integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"-->
<!--        crossorigin="anonymous">-->
<!--</script>-->
<script src="{% static 'cookie/jquery.cookieMessage.min.js' %}"></script>

<script>
    $.cookieMessage({
  'mainMessage': 'Este sitio usa cookies. Al continuar navegando aceptas su uso , para más información ve la   <a href="https://www.privacypolicygenerator.info/live.php?token=b1jArEUI4PoWbuyUENwsZUkMylC8oRPu">Política de privacidad</a>. ',
  'acceptButton': 'Vale!',
  backgroundColor: '#666',
  fontSize: '14px',
  fontColor: 'white',
  btnBackgroundColor: '#f2a920',
  btnFontSize: '11px',
  btnFontColor: 'white',
  linkFontColor: '#ffff00',
  expirationDays: 30,
  cookieName: 'cookieMessage'
});

</script>