{%extends 'base.html'%}
{%load static%}
{% load crispy_forms_tags %}
{% load tailwind_filters %}
{%block content%}
{%include 'nav.html'%}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

<!-- XDSoft DateTimePicker -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>


<div class="login ">
  <br>
  <h2>Editando el tratamiento</h2>
  <br>

  <form method="post" >
    {% csrf_token %}
    {{ form|crispy }}
    <div class="buttons">
    <button type="submit" class="btn">Guardar</button>

  </form>
  <button class="btn" onClick="javascript:history.go(-1);">Cancelar</button>
</div></div>
<script>

  $(function () {
    jQuery.datetimepicker.setLocale('es');
    $("#id_fecha").datetimepicker({ format:'Y-m-d H:i'});
  });
</script>


{%endblock%}
