{%extends 'base.html'%}
{% load material_form %}
{%load static%}
{% load crispy_forms_tags %}
{%block content%}
{%include 'nav.html'%}
<div class="login ">
<img src="{{footer.logo.url}}" alt="{{footer.nombre_comercial}}" style="height: 300px;" />
  <br>
  <h2>Editando centro</h2>
  <br>

  <form method="post">
    {% csrf_token %}
     {{ form|crispy }}
      <div class="buttons">
    <button type="submit" class="button is-warning is-rounded">Guardar</button>
  </form>
  <a href="/" class="cancel"> <button class="button is-danger  is-rounded">Cancelar</button></a>
</div></div>



{%endblock%}
