{%extends 'base.html'%}
{%load static%}
{% load crispy_forms_tags %}
{%block content%}
{%include 'nav.html'%}
<!-- include libraries(jQuery, bootstrap) -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<!-- include summernote css/js -->
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
<script src="{%static 'js/summernote-ext-checkbox.js'%}"></script>
{% include 'summernoteprint.html'%}
<div class="login " style="width: 80%; margin:auto">
  <br>
  <h2>Plantilla de Email</h2>
  {% include 'variables_email.html'%}
  <br>
  <form method="post" >
    {% csrf_token %}
    {{ form|crispy }}
    <div class="buttons">
    <button type="submit" class="button is-warning is-rounded">Guardar</button>

  </form>
  <button class="button is-danger is-rounded" onClick="javascript:history.go(-1);">Cancelar</button>
</div></div>
<script>

 $(document).ready(function() {
  $('#summernote').summernote({
    toolbar: [
        // [groupName, [list of button]]
       ['style', ['style']],
          ['font', ['bold', 'underline', 'clear']],
          ['fontname', ['fontname']],
          ['color', ['color']],
          ['para', ['ul', 'ol', 'paragraph']],
          ['table', ['table']],
          ['insert', ['link', 'picture', 'video']],
        ['fontstyleextra', ['strikethrough', 'underline', 'hr', 'color', 'superscript', 'subscript']],
        ['extra', ['video', 'table', 'height']],
        ['misc', ['undo', 'redo', 'codeview', 'fullscreen','help', 'print']],
        ['customOptions', ['AddCheckList']],


    ],
    buttons: {
                    AddCheckList: addCheckList
                },
      placeholder: 'Escribe aquí...',
      height: 500,

  });
});
 function addCheckList(context) {
            var ui = $.summernote.ui;
            var button = ui.button({
                contents: '☑︁',
                tooltip: 'Insert a Checklist',
                click: function() {
                    context.invoke('editor.pasteHTML', '<div class="checkbox-field col s12" id="id_autorizacion_container"><label></label><label><input class="filled-in " id="id_autorizacion" name="autorizacion" type="checkbox"><span for="id_autorizacion">&nbsp;</span></label></div>');

                }
            });
            return button.render();
        }


</script>


{%endblock%}
