{%extends 'core/base.html'%} {%block content%} {%include 'core/nav.html'%} 
{% if request.user.is_staff %} {%include 'helpSystem/chat.html'%} {% endif %}
<div
  class=" {% if request.user_agent.is_mobile %}{%else%}grid grid-cols-5 gap-4{%endif %}
  "
>
  <div class="aside-bar">{% include 'core/aside.html'%}</div>

  <div class="col-span-4">
    <div class="index1">
      <div
        class="{% if request.user_agent.is_mobile %}{% else %}index{%endif%}"
      >
        <h1 title="Listado de centros del sistema">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="30"
            height="30"
            fill="currentColor"
            class="bi bi-building"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M14.763.075A.5.5 0 0 1 15 .5v15a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V14h-1v1.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V10a.5.5 0 0 1 .342-.474L6 7.64V4.5a.5.5 0 0 1 .276-.447l8-4a.5.5 0 0 1 .487.022zM6 8.694 1 10.36V15h5V8.694zM7 15h2v-1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5V15h2V1.309l-7 3.5V15z"
            />
            <path
              d="M2 11h1v1H2v-1zm2 0h1v1H4v-1zm-2 2h1v1H2v-1zm2 0h1v1H4v-1zm4-4h1v1H8V9zm2 0h1v1h-1V9zm-2 2h1v1H8v-1zm2 0h1v1h-1v-1zm2-2h1v1h-1V9zm0 2h1v1h-1v-1zM8 7h1v1H8V7zm2 0h1v1h-1V7zm2 0h1v1h-1V7zM8 5h1v1H8V5zm2 0h1v1h-1V5zm2 0h1v1h-1V5zm0-2h1v1h-1V3z"
            />
          </svg>
          &nbsp; Centros
        </h1>
        {% if perms.lima.add_centro %}
        <br />

        <br />
        <a
          href="{% url 'new_centro' %}"
          class="top-menu"
          title="Añadir un nuevo centro"
        >
          <button class="btn" style="margin-left: 0%">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-plus-circle"
              viewBox="0 0 16 16"
            >
              <path
                d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
              />
              <path
                d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"
              />
            </svg>
            &nbsp; Añadir un centro
          </button>
        </a>
        <br />
        <br />
        <br />
        {% endif %} {%include 'core/shearch.html'%} {%include
        'clinic/table_centros.html'%} {%include 'core/pagination.html'%}
      </div>
      {% if request.user.is_staff %}
      <div class="users">{%include 'user/table_user_active.html'%}</div>
      {% endif%}
    </div>
  </div>
</div>

{%endblock%}
