{% load tailwind_filters %}
<div class="shearch" style="z-index:10">


    <form class="form-inline my-2 my-lg-0" method="get">
      {% csrf_token %}
      {{ form|crispy }}
      <button class="btn" type="submit" style="width: 100px;">

Buscar

      </button>
      <button class="btn" type="reset" style="width: 100px;">

        Limpiar

       </button>



    </form>
    <!-- <input type=button value="Limpiar" class="btn btn-outline-success my-2 my-sm-0 limpiar" onClick="javascript:history.go(-1);"> -->
</div>
