{%extends 'base.html'%}

{%load static%}
{%block content%}
{%include 'nav.html'%}
<div class="login ">
<img src="{{footer.logo.url}}" alt="{{footer.nombre_comercial}}" style="height: 300px;" />
  <br>
  <h2 style="font-size:30px; font-weight: bold; text-align: center ;">Mi suscripción</h2>
  <br>

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="L3M27Z2RFP7A4">
<table>
<tr><td><input type="hidden" name="on0" value="Servicios que ofrecemos"><h2 style="font-size:20px; font-weight: bold;">Servicios que ofrecemos</h2></td></tr><tr><td>
<br/><br/>
<select name="os0" style="display:block;">
	<option value="Suscripción mensual">Suscripción mensual : €30,00 EUR - mensualmente</option>
	<option value="Suscripción anual">Suscripción anual : €300,00 EUR - anualmente</option>
	<option value="Velocidad de procesos 10000 por segundos">Velocidad de procesos 10000 por segundos : €15,00 EUR - mensualmente</option>
	<option value="Velocidad de procesos 20000 por segundos">Velocidad de procesos 20000 por segundos : €25,00 EUR - mensualmente</option>
	<option value="Almacenamiento extra 10 GB">Almacenamiento extra 10 GB : €15,00 EUR - mensualmente</option>
	<option value="Almacenamiento extra 20 GB">Almacenamiento extra 20 GB : €25,00 EUR - mensualmente</option>
</select> </td></tr>
</table>
<br/><br/>
<input type="hidden" name="currency_code" value="EUR">
<input type="image" src="https://www.paypalobjects.com/es_ES/ES/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal, la forma rápida y segura de pagar en Internet.">
<img alt="" border="0" src="https://www.paypalobjects.com/es_ES/i/scr/pixel.gif" width="1" height="1">
</form>
<br/><br/>
<i>Todos los servicios tienen un perido de prueba de 7 días desde su compra </i>

</div>



{%endblock%}
