<div class="table">
  <table class="table overflow-auto">
    <thead>
      <tr>
        <th><abbr title="ID">ID</abbr></th>
        <th><abbr title="Propietaria">Tecnica</abbr></th>
        <th><abbr title="Localización">Fecha</abbr></th>
        <th><abbr title="Localización">Hora de entrada</abbr></th>
        <th><abbr title="Localización">Hora de salida</abbr></th>
      </tr>
    </thead>
    <tfoot>

    </tfoot>
    <tbody>
      {%for cita in cita%}
      <tr >
        <th>{{ cita.pk }}</th>
        <td><a href="#" </td>
        <td>{{cita.tecnica}}</td>
        <td>{{cita.zona}}</td>
        <td>{{cita.hertz}}</td>
        <td>{{cita.milisegundos}}</td>
        <td>{{cita.julios}}</td>
        <td>{{cita.comentario}}</td>
        <td>{{cita.fecha }}</td>
        <td>
          <!-- <a href="{% url 'edit_cita' pk=cita.id_cita %}">
            <button class="button is-warning">Editar</button>

          </a> -->


            <button style="margin-right:30px;" class="button is-danger" onclick="confirmSwall('{%url 'delete_cita' pk=cita.id_cita %}')">Borrar</button>

        </td>

      </tr>
      {%endfor%}

    </tbody>
  </table>

</div>
