<div class="table">
  <table class="table" id="table">
    <thead>
      <tr>
        <th><abbr title="ID">ID</abbr></th>
        <th><abbr title="Propietaria">Tecnica</abbr></th>
        <th><abbr title="Localización">Fecha</abbr></th>
        <th><abbr title="Localización">Hora de entrada</abbr></th>
        <th><abbr title="Localización">Hora de salida</abbr></th>
      </tr>
    </thead>
    <tfoot>

    </tfoot>
    <tbody>
      {%for mes in meses %}
      <tr>
        <th>{{ forloop.revcounter }}</th>

        <td>{{mes.tecnica.nombre_tecnica}} &nbsp;{{mes.tecnica.apellidos_tecnica}}</td>
        <td>{{mes.fecha}}</td>
        <td>{{mes.entrada }} UTC</td>
        <td>{{mes.salida }} UTC</td>


      </tr>
      {%endfor%}

    </tbody>
  </table>

</div>
