{%extends 'base.html'%}

{%block content%}
{%include 'nav.html'%}
<div class="index">
<h1>Buscador de clientes</h1>

{% ifequal  notfound True %}
{% include 'notfound.html'%}
{% else %}
<br>
<br>
<div class="table" id="table">
  <table class="table">
    <thead>
      <tr>
        <th><abbr title="ID">ID</abbr></th>
        <th><abbr title="ID">Centro</abbr></th>

        <th><abbr title="Propietaria">Nombre</abbr></th>
        <th><abbr title="Localización">Apellidos</abbr></th>
        <th><abbr title="Localización">Teléfono</abbr></th>
        <th><abbr title="Localización">Email</abbr></th>
        <th><abbr title="Localización">Autorizacion</abbr></th>
        <th><abbr title="Localización">Protección de datos</abbr></th>
        <th><abbr title="Localización">Población</abbr></th>
        <th><abbr title="Localización">Dirección</abbr></th>
        <th><abbr title="Editar">Acción</abbr></th>

      </tr>
    </thead>
    <tfoot>

    </tfoot>
    <tbody>
      {%for cl in cliente%}
      <tr>
        <th>{{ forloop.counter }}</th>
          <th>{{ cl.centro.nombre_centro }}</th>
        <td><a href="{% url 'cliente_details' pk=cl.id_paciente %}">{{cl.nombre_paciente}}</a> <strong></strong>
        </td>
        <td>{{cl.apellidos_paciente}}</td>
        <td>{{cl.telefono_paciente}}</td>
        <td>{{cl.email}}</td>
        <td>
          {%if cl.autorizacion%}
          <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-check-circle" fill="#00C4A7" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"/>
          </svg>
          {%else%}
          <svg width="2em" height="2em" viewBox="0 0 17 16" class="bi bi-exclamation-triangle-fill" fill="#F03A5F" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 5zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
          </svg>
          {%endif%}

      </td>
        <td>

{%if cl.protec_datos%}
<svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-check-circle" fill="#00C4A7" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
  <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"/>
</svg>
{%else%}
<svg width="2em" height="2em" viewBox="0 0 17 16" class="bi bi-exclamation-triangle-fill" fill="#F03A5F" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 5zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
</svg>
{%endif%}

      </td>
        <td>{{cl.poblacion}}</td>
        <td>{{cl.direccion}}</td>

        <td><a href="{%url 'edit_cliente' pk=cl.id_paciente %}">
            <button class="button is-warning"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
</svg> &nbsp; Ver</button>

          </a>


          <!--<a href="{%url 'delete_cliente' pk=cl.id_paciente %}">-->
          <!--    <button class="button is-danger">Borrar</button>-->

          <!--  </a>-->

        </td>

      </tr>
      {%endfor%}

    </tbody>
  </table>
</div>
{% endifequal %}
{%include 'shearch.html'%}
{%include 'pagination.html'%}


</div>



{%endblock%}
