<div class="table" id="table">
  <table class="table">
    <thead>
      <tr>
        <th><abbr title="ID">Número de sesión</abbr></th>
        <th><abbr title="ID">Zona</abbr></th>
        <th><abbr title="Tecnica">Tecnica</abbr></th>
        <th><abbr title="Zona">J/S</abbr></th>
        <th><abbr title="Hertz">J/L</abbr></th>
        <th><abbr title="Fecha">Fecha</abbr></th>
        <th><abbr title="Fecha">Observaciones</abbr></th>
        <th><abbr title="Acción">Acción</abbr></th>

      </tr>
    </thead>
    <tfoot>

    </tfoot>
    <tbody>
      {%for tratamiento in tratamientos %}
      <tr>
        <th>{{ tratamiento.numero_de_sesion }}</th>
        <th>{{ tratamiento.zona }}</th>
        <td>{{tratamiento.tecnica}}</td>
        <td>{{tratamiento.js}}</td>
        <td>{{tratamiento.jl}}</td>
        <td>{{tratamiento.fecha}}</td>
        <td>{{tratamiento.comentario}}</td>
        <td>
            <div class="buttons">
            {% if perms.lima.change_tratamientos %}
              <a href="{% url 'edit_tratamiento' pk=tratamiento.id_tratamiento %}">
            <button class="button is-warning is-rounded" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
</svg> &nbsp; Ver</button>

          </a>
 {% endif %}
  {% if perms.lima.delete_tratamientos %}
          <a href="{%url 'delete_tratamiento' pk=tratamiento.id_tratamiento %}" style="margin-right:30px;">
            <button class="button is-danger is-rounded">Borrar</button>

          </a>
 {% endif %}
 </div>

        </td>

      </tr>
      {%endfor%}

    </tbody>
  </table>

</div>
