{%load static%}
<div class="table">
    <table class="table" id="table" width="80%">
      <thead>
        <tr>
            <th><abbr title="ID">ID</abbr></th>
          <th><abbr title="Imagen de perfil">Imagen de perfil</abbr></th>
          <th><abbr title="Tecnicaim">Tecnica</abbr></th>
          <th colspan="3"><abbr title="Tecnicaim">Acción</abbr></th>
        </tr>
      </thead>
      <tfoot>

      </tfoot>
      <tbody>


        {%for tecnica in tecnica%}
        {% if tecnica.habilitado %}
        <tr>
          <th>{{ forloop.revcounter }}</th>

          <td>
            <img src="{{tecnica.imagen.url}}" alt="{{tecnica.nombre_tecnica}}" style ="border-radius: 50px; margin-left :10px; margin-right:10px; width: 50px;">
        </td>
          <td>{{tecnica.nombre_tecnica}}</td>

          <td colspan="3">

            <a href="{%url 'ver_horario_visual' pk=tecnica.id_tecnica %}" style="margin-right:30px;">
              <button class="button is-success"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-day" viewBox="0 0 16 16">
  <path d="M4.684 11.523v-2.3h2.261v-.61H4.684V6.801h2.464v-.61H4v5.332h.684zm3.296 0h.676V8.98c0-.554.227-1.007.953-1.007.125 0 .258.004.329.015v-.613a1.806 1.806 0 0 0-.254-.02c-.582 0-.891.32-1.012.567h-.02v-.504H7.98v4.105zm2.805-5.093c0 .238.192.425.43.425a.428.428 0 1 0 0-.855.426.426 0 0 0-.43.43zm.094 5.093h.672V7.418h-.672v4.105z"/>
  <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
</svg>  &nbsp;  Calendario Horario</button>

            <a href="{%url 'ver_horario' pk=tecnica.id_tecnica %}" style="margin-right:30px;">
              <button class="button is-primary"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
</svg> &nbsp; Ver Horario</button>

            </a>
            <a href="{%url 'ver_visual_tecnica' pk=tecnica.id_tecnica %}" style="margin-right:30px;">
              <button class="button is-link"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-day" viewBox="0 0 16 16">
  <path d="M4.684 11.523v-2.3h2.261v-.61H4.684V6.801h2.464v-.61H4v5.332h.684zm3.296 0h.676V8.98c0-.554.227-1.007.953-1.007.125 0 .258.004.329.015v-.613a1.806 1.806 0 0 0-.254-.02c-.582 0-.891.32-1.012.567h-.02v-.504H7.98v4.105zm2.805-5.093c0 .238.192.425.43.425a.428.428 0 1 0 0-.855.426.426 0 0 0-.43.43zm.094 5.093h.672V7.418h-.672v4.105z"/>
  <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
</svg>  &nbsp; Calendario de citas</button>

            </a>
            <a href="{%url 'edit_turno' pk=tecnica.id_tecnica %}" class="button is-dark" style="margin-top:10px; margin-left:5px; font-size: 12px;">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
</svg> &nbsp;      Ver turno de trabajo

            </a>
          </td>

        </tr>
        {%endif%}
        {%endfor%}

      </tbody>
    </table>

  </div>
