<article class="message is-dark  is-shadowless">
  <div class="message-body columns" style="font-size:1.5rem; overflow-x:auto">
     <div class="column">
    <p>Recuerde que tiene a su disposición las siguientes variables :</p>
     </div>
    <div class="column">
    <p><strong>&lcub;&lcub;usuario&rcub;&rcub;</strong> Nombre y Apellidos del usuario </p>
     </div>
    <div class="column">
    <p><strong>&lcub;&lcub;centro&rcub;&rcub;</strong> Nombre del centro del usuario </p>
     </div>
    <div class="column">
    <p><strong>&lcub;&lcub;localizacion_centro&rcub;&rcub;</strong> Dirección del centro del usuario </p>
     </div>
    <div class="column">
    <p><strong>&lcub;&lcub;nombre_comercial&rcub;&rcub;</strong> Nombre comercial definido en configuración </p>
     </div>
    <div class="column">
    <p><strong>&lcub;&lcub;propietario&rcub;&rcub;</strong> Propietario del sistema definido en configuración </p>
     </div>
    <div class="column">
    <p><strong>&lcub;&lcub;telefono&rcub;&rcub;</strong> Teléfono del sistema definido en configuración </p>
     </div>
    <div class="column">
    <p><strong>&lcub;&lcub;firma&rcub;&rcub;</strong>  Próxima firma del cliente </p>
     </div>
    <div class="column">
    <p><strong>&lcub;&lcub;TelefonoUsuario&rcub;&rcub;</strong>  Teléfono del cliente </p>
     </div>
    <div class="column">
    <p><strong>&lcub;&lcub;EmailUsuario&rcub;&rcub;</strong>  Email del cliente </p>
     </div>
    <div class="column">
    <p><strong>&lcub;&lcub;dni&rcub;&rcub;</strong>  DNI del cliente </p>
     </div>
    <div class="column">
    <p><strong>&lcub;&lcub;poblacion&rcub;&rcub;</strong>  Población del cliente </p>
     </div>
    <div class="column">
    <p><strong>&lcub;&lcub;direccion&rcub;&rcub;</strong>  Dirección del cliente </p>
     </div>
    <div class="column">
    <p><strong>&lcub;&lcub;FechaActual&rcub;&rcub;</strong>  Fecha y hora actual </p>
    </div>
    <div class="column">
    <p><strong>&lcub;&lcub;HoraInicioCita&rcub;&rcub;</strong>  Fecha y hora de inicio de la cita (solo disponible al añadir una cita)</p>
    </div>
    <div class="column">
    <p><strong>&lcub;&lcub;HoraFinCita&rcub;&rcub;</strong>  Fecha y hora de fin de la cita  (solo disponible al añadir una cita)</p>
    </div>
    <div class="column">
    <p><strong>&lcub;&lcub;Servicio&rcub;&rcub;</strong>  Servicio agendado (solo disponible al añadir una cita)</p>
    </div>
  </div>
</article>