{%extends 'base.html'%}
{%load static%}
{%block content%}
{%include 'nav.html'%}
<div class="index">
<h1>Horario de {{tecnica.nombre_tecnica}}</h1>

<link href="{% static 'fullcalendar/main.css' %}" rel='stylesheet' />
<script src="{% static 'fullcalendar/main.js' %}"></script>
<script src="{% static 'fullcalendar/locales-all.js' %}"></script>
<script>

document.addEventListener('DOMContentLoaded', function() {
  var calendarEl = document.getElementById('calendar');
  var today = new Date();
  var date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
  var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
  var articles = [
     {%for mes in meses %}
        {% if not forloop.first %},{% endif %}
        {
            title: "{{mes.tecnica.nombre_tecnica}}  {{mes.tecnica.apellidos_tecnica}}",
            start: "{{mes.fecha |date:'Y-m-d H:i'}}",
            end: "{{mes.fecha |date:'Y-m-d H:i'}}",
        }
    {% endfor %}
    ];
    console.log(articles)
  var calendar = new FullCalendar.Calendar(calendarEl, {
    initialView: 'dayGridMonth',
    initialDate: today,
    headerToolbar: {
      left: 'prev,next today',
      center: 'title',
      right: 'dayGridMonth,timeGridWeek,timeGridDay'
    },
    lang: 'es',
    events: articles
  });
  calendar.render();
});


</script>


<div id="calendar"></div>

<script>
   
</script>
</div>



{%endblock%}
