<ion-tabs>
  <!-- Tab views -->
  <ion-tab tab="home"></ion-tab>
  <ion-tab tab="stock"></ion-tab>
  <ion-tab tab="caja"></ion-tab>
  <ion-tab tab="perfil"></ion-tab>
  <ion-tab tab="ajustes"></ion-tab>

  <!-- Tab bar -->
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="stock">
      <ion-icon name="cube-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="caja">
      <ion-icon name="cash-outline"></ion-icon>
    </ion-tab-button>
     <ion-tab-button tab="perfil">
      <ion-icon name="person-outline"></ion-icon>
    </ion-tab-button>
     <ion-tab-button tab="ajustes">
     <ion-icon name="cog-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>