{%extends 'core/base.html'%}
{%load static%}
{% load crispy_forms_tags %}
{% load tailwind_filters %}
{%block content%}
{%include 'core/nav.html'%}
 <div class="grid grid-cols-5 gap-4">
<div class="aside-bar">
    {% include 'core/aside.html'%}
</div>

     <div class="col-span-4">
         <div class="index1">
             <div class="login ">
<img async loding="lazy"  src="{{footer.logo.url}}" alt="{{footer.nombre_comercial}}" width="350rem">
  <br>
  <h2>Añade una nueva tarea</h2>
  <br>
  <form method="post">
    {% csrf_token %}
      {{ form|crispy }}
       <div class="buttons">
    <button type="submit" class="btn" >Guardar</button>

  </form>
  <button class="btn" type="button" onClick="javascript:history.go(-1);">Cancelar</button>
</div>




</div>
    </div>
</div>




{%endblock%}
