{%extends 'client/cliente_details.html'%} {% block 'cliente' %}

<br />
<div class="collapse w-150 border rounded-box border-base-300 collapse-arrow">
  <input type="checkbox" />
  <div class="collapse-title text-sm font-medium">Zonas</div>
  <div class="collapse-content">
    {% include 'treatmentSesion/table_citas.html'%}
  </div>
</div>
<br />
<br />
<div class="collapse w-150 border rounded-box border-base-300 collapse-arrow">
  <input type="checkbox" />
  <div class="collapse-title text-sm font-medium">Sesiones de tratamiento</div>
  <div class="collapse-content">
    {% include 'treatments/table_tratamientos.html'%}
  </div>
</div>
<br /><br /><br />

{%endblock%}
