
{% ifequal  notfound True %}
{% include 'core/notfound.html'%}
{% else %}

<div class="table" id="table">
  <table class="table overflow-auto">
    <thead>
      <tr>
        <th title="ID"><abbr title="ID">ID</abbr></th>
        <th title="Nombre">Nombre</th>
        <th><abbr title="Acción">Acción</abbr></th>
      </tr>
    </thead>
    <tfoot>

    </tfoot>
    <tbody>
      {%for email in emails %}
      <tr>
        <th>{{ email.pk }}</th>
        <td>
          <a href="{% url 'emails_template' pk=email.pk %}">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-open" viewBox="0 0 16 16">
            <path d="M8.47 1.318a1 1 0 0 0-.94 0l-6 3.2A1 1 0 0 0 1 5.4v.818l5.724 3.465L8 8.917l1.276.766L15 6.218V5.4a1 1 0 0 0-.53-.882l-6-3.2zM15 7.388l-4.754 2.877L15 13.117v-5.73zm-.035 6.874L8 10.083l-6.965 4.18A1 1 0 0 0 2 15h12a1 1 0 0 0 .965-.738zM1 13.117l4.754-2.852L1 7.387v5.73zM7.059.435a2 2 0 0 1 1.882 0l6 3.2A2 2 0 0 1 16 5.4V14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V5.4a2 2 0 0 1 1.059-1.765l6-3.2z"/>
          </svg>  &nbsp; {{email.nombre}}
        </a>
        </td>
        <td>
            <div class="buttons">
            <a href="{%url 'emails_template' pk=email.pk %}">
            <button class="btn">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
              </svg> &nbsp; Ver</button>
            </a>
          <a >
              <button class="btn" onclick='confirmSwall("{%url 'delete_email' pk=email.pk %}")'>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                  <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                </svg> &nbsp; Borrar Plantilla</button>
            </a>
          </div>
        </td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
</div>
{% endifequal %}
