{%extends 'core/base.html'%}
{%load static%}
{%block content%}
{%include 'core/nav.html'%}
{% load tz %}
<div class="grid grid-cols-5 gap-4">
  <div class="aside-bar">{% include 'core/aside.html'%}</div>

  <div class="col-span-4">
    <div class="index1">
      <div class="index">
        <h1>Sesiones de Tratamientos {{tecnica.nombre_tecnica}}</h1>

        <link href="{% static 'fullcalendar/main.css' %}" rel="stylesheet" />
        <script src="{% static 'fullcalendar/main.js' %}"></script>
        <script src="{% static 'fullcalendar/locales-all.js' %}"></script>
        <script>

          document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var today = new Date();
            var date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
            var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
                 var recursos = [
               {%for tecnica in tecnicas %}
                  {% if not forloop.first %},{% endif %}
                  {
                      id: "{{tecnica.id_tecnica}}",
                      title: "{{tecnica.nombre_tecnica }}",
                  }
              {% endfor %}
              ];
            var eventos = [
               {%for mes in meses %}
                  {% if not forloop.first %},{% endif %}
                  {
                      title: "Cliente  {{mes.cliente.nombre_paciente}} {{mes.cliente.apellidos_paciente}} // Sesión {{mes.numero_de_sesion}} de  {{mes.zona.nombre_servicio}} // Tecnica {{mes.tecnica.nombre_tecnica}}  {{mes.tecnica.apellidos_tecnica}} // Centro {{mes.cliente.centro}}",
                      start: "{{mes.fecha |date:'Y-m-d H:i:s'  }}",
                      end: "{{mes.hora_fin |date:'Y-m-d H:i:s' }}",
                      color: "{{mes.tecnica.color}}",
                      resourceId: "{{mes.tecnica.id_tecnica}}",
                  }
              {% endfor %}
              ];


              console.log(recursos)
            var calendar = new FullCalendar.Calendar(calendarEl, {
                dateClick: function(info) {
                      //alert('Date: ' + info.dateStr);
                      //alert('Resource ID: ' + info.resource.id);
                      calendar.gotoDate( info.dateStr )
                      calendar.changeView( 'timeGridDay', info.dateStr);
                    },
               locale: 'es',
              initialView: 'timeGridWeek',
              slotLabelInterval: '00:{{footer.slots}}:00',
              slotDuration: '00:{{footer.slots}}:00',
              initialDate: today,
              groupByResource: true,
              headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
              },
              lang: 'es',
              resources: recursos,
              events: eventos
            });
            calendar.render();
          });
        </script>

        <div id="calendar"></div>

        <script></script>
      </div>
    </div>
  </div>

  {%endblock%}
</div>
