
.limpiar{
  position: absolute;
  top: 72px;
  right: 80px;
}
.login{
  width: 25%;
  margin: 2% 10% 30% 40%;
  height: 50px;
}
.index h1{
  text-align: center;
  font-size: 30px;
  margin: 2%;
}
body{
  font-size: 14px !important;
}
button {
  font-size: 14px !important;
}
.index .table{
  margin: 0%;
}
.index .pagination{
  margin: 2%;
}
.pagination  li{
  width: 10%;
  height: 10%;

}

.index .table tr:hover{
  background-color: #F8F8F8 ;

}
.shearch{
  position: absolute;
  top: 10%;
  right: 1%;
  width: auto;
}
.cancel{
margin: -35px 0% 0% 30%;
  width: 10em !important;
    height: 3em !important;
    margin: 1em !important;
}

#calendar {
  max-width: 1100px;
  margin: 40px auto;
}
.index{
    width: 90%;
    margin: 5%;
}