{%extends 'core/base.html'%}
{%load static%}
{% load tailwind_filters %}
{% load crispy_forms_tags %}
{%block content%}
{% include 'core/nav.html'%}
 <div class="grid grid-cols-5 gap-4">
<div class="aside-bar">
    {% include 'core/aside.html'%}
</div>

     <div class="col-span-4">
         <div class="index1">
             <div class="login ">

<img src="{{footer.logo.url}}" alt="{{footer.nombre_comercial}}" style="height: 300px;" />
  <br>
  <h2>Stock</h2>
  <br>
  <form method="post">
    {% csrf_token %}
      {{ form|crispy }}
      <div class="buttons">
    <button type="submit" class="btn btn-sm" >Guardar</button>

  </form>
<button class="btn btn-sm" onClick="javascript:history.go(-1);">Cancelar</button>


</div></div>
    </div>
</div>




{%endblock%}
