@media only screen and (max-width: 1024px) {
  .login{
    width: 80%;
    margin: 2% 2% 2% 10%;
    height: 50px;
  }
  .shearch{
    position: static;
    left: 10px; !important;

  }
  .limpiar{
    position: absolute;
    top: 242px;
    right: 280px;
  }
.navbar-menu{
    margin-left: 70px;
}
}
