<style>
.snap-x {
    scroll-snap-type: x mandatory;

  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
.snap-start {
  scroll-snap-align: start;
}

</style>

{% if anuncio %}
<div class="flex flex-col items-center m-3">

  <div class="w-full bg-white rounded overflow-x-hidden flex snap-x" style="height: 10rem">
      {% for anuncio in anuncio %}
    <div class="snap-start w-full h-full flex items-center justify-center text-white text-4xl font-bold flex-shrink-0 bg-black relative" id="slide-{{forloop.counter}}">
      <img src="{{anuncio.imagen.url}}" class="h-full w-full object-cover absolute inset-0 z-10 opacity-50" alt="{{anuncio.cuerpo_anuncio}}">
      <a href="{{anuncio.link_anuncio}}"  target="_blank" class="z-20 text-center" style="font-size: 1rem">{{anuncio.cuerpo_anuncio}}</a>
    </div>
    {% endfor %}
  </div>



  <div class="flex mt-8">
      {% for anuncio in anuncio %}
    <a class="w-8 mr-1 h-8 text-gray-700 rounded-full bg-white flex justify-center items-center" href="#slide-{{forloop.counter}}">{{forloop.counter}}</a>
      {% endfor %}
  </div>

</div>
{% endif %}