<div class="flex-col  w-screen h-screen bg-white dark:bg-gray-800 overflow-x-auto h-0.5" style="height: 50rem; margin-bottom: 20rem">
{% for mensaje in mensajes %}
<div class="bg-white dark:bg-gray-800 text-black dark:text-gray-200 p-4 antialiased flex max-w-lg" style="width: 100rem">

  <img class="rounded-full h-8 w-8 mr-2 mt-1 " src="{{mensaje.enviado_por.imagen.url}}"/>
  <div>
    <div class="bg-gray-100 dark:bg-gray-700 rounded-3xl px-4 pt-2 pb-2.5">
      <div class="font-semibold text-sm leading-relaxed">{{mensaje.tecnica.nombre_tecnica}}</div>
      <div class="text-normal leading-snug md:leading-normal"
      >{{mensaje.cuerpo_mensaje | safe }}</div>
    </div>
    <div class="text-sm ml-4 mt-0.5 text-gray-500 dark:text-gray-400">{{mensaje.fecha_creacion}}</div>

  </div>

</div>
  {%endfor%}

</div>
