{%load static%}


<div class="movile-navigation">
    {% include 'core/movile.html'%}
</div>

<div class="navbar mb-2 shadow-lg bg-neutral text-neutral-content rounded-box" style="overflow-x: auto;">
    <a class="navbar-item" href="{%url 'index'%}">
      <img async src="{{footer.logo.url}}" alt="{{footer.nombre_comercial}}" style="height: 50px;" />
    </a>
  <div class="flex-1 hidden px-2 mx-2 lg:flex">
    <span class="text-lg font-bold">
            {{footer.nombre_comercial}}
          </span>
  </div>
<div class="flex-none hidden px-2 mx-2 lg:flex">
    <div class="flex items-stretch">

         {% if request.resolver_match.url_name == "index" or request.resolver_match.url_name == "perfil" %}
        {% if perms.lima.add_controlhorario %}
        {% ifequal salida False %}
      <a class="btn btn-ghost btn-sm rounded-btn" href="{%url 'entrada'%}">
          <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" fill="currentColor" class="bi bi-box-arrow-in-left" viewBox="0 0 2rem 2rem">
  <path fill-rule="evenodd" d="M10 3.5a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 1 1 0v2A1.5 1.5 0 0 1 9.5 14h-8A1.5 1.5 0 0 1 0 12.5v-9A1.5 1.5 0 0 1 1.5 2h8A1.5 1.5 0 0 1 11 3.5v2a.5.5 0 0 1-1 0v-2z"/>
  <path fill-rule="evenodd" d="M4.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H14.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
</svg>   &nbsp;     Fichar la entrada

      </a>
      {% else %}
        <a class="btn btn-ghost btn-sm rounded-btn" href="{% url 'salida' %}">
      <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 2rem 2rem">
  <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
  <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
</svg>  &nbsp;     Fichar la salida

      </a>

    {% endifequal%}
      <a class="btn btn-ghost btn-sm rounded-btn" href="{%url 'ver_horario_visual' pk=user.tecnica.pk %}">
        <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" fill="currentColor" class="bi bi-calendar-day" viewBox="0 0 2rem 2rem">
  <path d="M4.684 11.523v-2.3h2.261v-.61H4.684V6.801h2.464v-.61H4v5.332h.684zm3.296 0h.676V8.98c0-.554.227-1.007.953-1.007.125 0 .258.004.329.015v-.613a1.806 1.806 0 0 0-.254-.02c-.582 0-.891.32-1.012.567h-.02v-.504H7.98v4.105zm2.805-5.093c0 .238.192.425.43.425a.428.428 0 1 0 0-.855.426.426 0 0 0-.43.43zm.094 5.093h.672V7.418h-.672v4.105z"/>
  <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
</svg>  &nbsp;    Ver visual de mi Horario

      </a>
    {% endif %}
 {% endif %}




 </div>
 </div>
  <div class="flex-none">
    <div class="avatar">
      <div class="rounded-full w-10 h-10 m-1">
          <a class=""  href="{% url 'perfil'%}">
            <img  async src="{{request.user.tecnica.imagen.url}}" alt="{{request.user.username}}" />

          </a>
      </div>
    </div>
  </div>
  <br>
    <a class="btn btn-ghost btn-sm rounded-btn" href="{% url 'perfil'%}">
                <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" fill="currentColor" class="bi bi-person" viewBox="0 0 2rem 2rem">
                  <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.52rem 10.68 10.289 10 8 10c-2.29 0-3.52rem.68-4.2rem8 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                </svg>  &nbsp;
            Bienvenid@ <b> {{request.user.username}}</b>

      </a>
  <br>
       <a class="btn btn-accent btn-sm rounded-btn" href="/logout">
     <span class="inline-flex justify-center items-center ml-4">
      <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" fill="currentColor" class="bi bi-person-x-fill" viewBox="0 0 2rem 2rem">
      <path fill-rule="evenodd" d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6.146-2.854a.5.5 0 0 1 .708 0L14 6.293l1.146-1.147a.5.5 0 0 1 .708.708L14.707 7l1.147 1.146a.5.5 0 0 1-.708.708L14 7.707l-1.146 1.147a.5.5 0 0 1-.708-.708L13.293 7l-1.147-1.146a.5.5 0 0 1 0-.708z"/>
    </svg> &nbsp;   Cerrar sesión
 </a>
</div>


<div class="aside-bar">
    {% include 'core/aside.html'%}
</div>


<div style="margin: auto ; width: 50%; font-size: 600px;">
</div>