{% load tailwind_filters %}

<div class="shearch1" style="z-index: 30">
  <br />

  <form
    class="form-inline my-2 my-lg-0"
    method="get"
    style="grid-template-columns: repeat(2, minmax(0, 1fr)); gap: -10px"
  >
    {% csrf_token %} {{ form|crispy }}
    <button
      class="btn"
      type="submit"
      style="width: 100px"
      title="Realizar busqueda"
    >
      Buscar
    </button>

    <!--<button class="btn" type="submit" style="width: 100px;" title="Realizar busqueda">Buscar</button>-->
    <!--<button class="btn" type="reset" style="width: 100px;" title="Limpiar el cuadro de busqueda">-->

    <!--  Limpiar-->

    <!-- </button>-->
  </form>
  <!-- <input type=button value="Limpiar" class="btn btn-outline-success my-2 my-sm-0 limpiar" onClick="javascript:history.go(-1);"> -->
</div>
