{%extends 'core/base.html'%}
{%load static%}
{% load crispy_forms_tags %}
{% load tailwind_filters %}
{%block content%}
{%include 'core/nav.html'%}
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
<div class="{% if request.user_agent.is_mobile %}{%else%}grid grid-cols-5 gap-4{%endif %} ">
<div class="aside-bar">
    {% include 'core/aside.html'%}
</div>

     <div class="col-span-4">
         <div class="index1">
          <div class="{% if request.user_agent.is_mobile %}{% else %}login{%endif%}">
          <img async loding="lazy"  src="{{footer.logo.url}}" alt="{{footer.nombre_comercial}}" width="350rem">
            <br>
            <h2>Añade una Sesión de tratamiento</h2>
            <br>
            <form id="form" method="post" style="grid-template-columns: repeat(2, minmax(0, 1fr));display:block" enctype="multipart/form-data">
              {% csrf_token %}
              {{ form|crispy }}
              <div class="buttons">
              <button type="submit" class="btn">Guardar</button>
            </form>
            <button class="btn" type="button" onClick="javascript:history.go(-1);">Cancelar</button>
          </div>
            {% include 'signature/sing.html' %}
          </div>
        </div>
    </div>




{%endblock%}
