{% extends 'web_base.html' %}
{% load humanize %}
{% block 'web_content'%}
{{page.cuerpo_pagina | safe }}
<div style="width: 95% ; margin:auto; padding:3rem;">
{% for post in posts %}
<div  class="max-w-md w-full lg:flex" style="min-width: 100%;">
  <div class="h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden" style="background-image: url('{{post.imagen.url}}')" title="Woman holding a mug">
  </div>
  <div class="border-r border-b border-l border-grey-light lg:border-l-0 lg:border-t lg:border-grey-light bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
    <div class="mb-8">
      <p class="text-sm text-grey-dark flex items-center">
       <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="{{web.color_primario}}" class="bi bi-heart-fill" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
        </svg>
        &nbsp;
        {{web.nombre_web_app}}
      </p>
      <div class="text-black font-bold text-xl mb-2"><a href="{% url 'website_blog_details' slug=post.slug_post %}">{{post.titulo}}</a></div>
      <p class="truncate text-grey-darker text-base">{{post.post | safe |slice:":255" }}</p>
    </div>
    <div class="flex items-center">
      <img class="w-10 h-10 rounded-full mr-4" src="{{web.logo_web_app.url}}" alt="{{web.nombre_web_app}}">
      <div class="text-sm">
        <p class="text-black leading-none">{{post.autor}}</p>
        <p class="text-grey-dark">{{post.creado_el | naturaltime}}</p>
      </div>
    </div>
  </div>
  </div>
  <br>  <br>
{% endfor%}
</div>
{% endblock %}